{% extends 'homebase.html' %}
{% block title %}New Complaint{% endblock title %}
{% block body %}

<form class="h-100 h-custom gradient-custom-2"method = "post" action = "new_complain">
          {% csrf_token %}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">

            <div class="row g-0">
              <div class="col-lg-100">
                <div class="p-5">

                  <div class="mb-4 pb-2">
                    {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
  {{ message }}
 </div>
              {% endfor %}
    {% endif %}
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">VIT Bhopal Complain Register Portal</h3>

                    <select class="select" name = "dropdown">
                      <option value="None">Choose The Field You Want to Complain For</option>
                      <option value="Mess">Mess</option>
                      <option value="Drinking Water">Drinking Water</option>
                      <option value="Wifi">Wifi</option>
                      <option value="Washrooms">Washrooms</option>
                      <option value="Bullying">Bullying</option>
                      <option value="Faculty">Faculty</option>
                    </select>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" id="form3Examplev2" name = "regno" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Your Registration Number</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" id="form3Examplev3" name = "fullname" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Your Full Name</label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="text" id="form3Examplev4" name = "sub" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">Subject of Complain</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                      <div class="form-outline">
                        <textarea class="form-control col-xs-12" id="form3Examplev5" name ="desc" rows="5" cols="5000"></textarea>

                        <label class="form-label" for="form3Examplev5">Write your concerns in brief</label>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            <button type="button center" class="btn btn-dark btn-lg" data-mdb-ripple-color="dark">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</form>

{% endblock body %}
