{% extends 'homebase.html' %}
{% block title %}VITB Complain Portal{% endblock title %}
{% block body %}
<div style="background-color:#4158D0;width:100%;height: 100vh;margin: 0;padding: 0;box-sizing: border-box;border: 1px solid transparent;background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
" id="main">
  <h1 style="font-family:gilroy;letter-spacing:1px;font-size:48.6px;font-weight:700;padding-top:30px;color:#7c39bf;text-shadow: rgb(94, 8, 160) 1.6px 1px 4px;" class="my-4 text-center"> Here are your complaints. </h1>
<div  style="width: 900px; margin-left: 15%;">
    <table style="margin-left: 62px;" class="table table-dark my-5  ">
  <thead>
    <tr>
      <th style="border-bottom: 2px solid white;" scope="col">Complain Id</th>
      <th style="border-bottom: 2px solid white;" scope="col">Hostel Details</th>
      <th style="border-bottom: 2px solid white;" scope="col">Complain For</th>
      <th style="border-bottom: 2px solid white;" scope="col">Subject</th>
      <th style="border-bottom: 2px solid white;" scope="col">Description</th>
      <th style="border-bottom: 2px solid white;" scope="col">Supervisor Remark</th>
      <th style="border-bottom: 2px solid white;" scope="col">Action Taken</th>
    </tr>
  </thead>
  <tbody>
  {% for complain in complains %}
    <tr>
      <th scope="row">{{complain.id}}</th>
      <th >{{complain.roomDetails}}</th>
      <th >{{complain.complainFor}}</th>
      <td>{{complain.sub}}</td>
      <td>{{complain.desc}}</td>
      <td>{{complain.status}}</td>
      <td>{{complain.action}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>

</div>
</div>
{% endblock body %}