{% extends 'homebase.html' %}
{% block title %}VITB Complain Portal{% endblock title %}
{% block body %}
  <h1 style="font-family:gilroy;letter-spacing:1px;font-size:48.6px;font-weight:700;padding-top:30px;color:rgb(60, 3, 165)" class="my-4 text-center"> Here are your complaints. </h1>
<div  style="width: 900px; margin-left: 15%;">
    <table style="margin-left: 62px;" class="table table-dark my-5  ">
  <thead>
    <tr>
      <th style="border-bottom: 2px solid white;" scope="col">Complain Id</th>
      <th style="border-bottom: 2px solid white;" scope="col">Complain For</th>
      <th style="border-bottom: 2px solid white;" scope="col">Subject</th>
      <th style="border-bottom: 2px solid white;" scope="col">Description</th>
      <th style="border-bottom: 2px solid white;" scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for complain in complains %}
    <tr>
      <th scope="row">{{complain}}</th>
      <th >{{complain.complainFor}}</th>
      <td>{{complain.sub}}</td>
      <td>{{complain.desc}}</td>
      <td>Pending</td>
    </tr>
  {% endfor %}

  </tbody>
</table>

</div>
{% endblock body %}