{% extends 'supervisorbase.html' %}
{% block title %}VITB Hostel Block Supervisor Portal{% endblock title %}
{% block body %}

  <h1 class="my-4 text-center"> All complains are displayed below. </h1>
<div style="width: 900px; margin-left: 15%;">
    {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
  {{ message }}
 </div>
              {% endfor %}
    {% endif %}
    <table class="table table-dark my-5  ">
  <thead>
    <tr>
      <th scope="col">Complain Id</th>
      <th scope="col">Student Name</th>
      <th scope="col">Registration Number</th>
        <th scope="col">Complain For</th>
      <th scope="col">Subject</th>
      <th scope="col">Description</th>

      <th scope="col">Room Number</th>

        <th scope="col">Hostel Block Department Supervisor</th>
        <th  scope="col">Workers Assigned</th>

      <th scope="col">Supervisor Remark</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for complain in complains %}
  <form method="POST" action="updateComplain" >
                      {% csrf_token %}
    <tr>
      <th><input type="hidden" name = "complainId" value="{{complain.id}}">{{complain.id}}</input></th>
      <th><input type="hidden" name = "fullname" value="{{complain.fullname}}">{{complain.fullname}}</input></th>
      <th><input type="hidden" name = "regno" value="{{complain.regno}}">{{complain.regno}}</input></th>
      <th><input type="hidden" name = "complainFor" value="{{complain.complainFor}}">{{complain.complainFor}}</input></th>
      <th><input type="hidden" name = "sub" value="{{complain.sub}}">{{complain.sub}}</input></th>
      <th><input type="hidden" name = "desc" value="{{complain.desc}}">{{complain.desc}}</input></th>
      <th><input type="hidden" name = "roomNumber" value="{{complain.roomNumber}}">{{complain.roomNumber}}</input></th>
      <th><input type="hidden" name = "hbds" value="{{complain.hostelBlockDepartmentSupervisor}}">{{complain.hostelBlockDepartmentSupervisor}}</input></th>


        <th>
            <select class="custom-select mr-sm-2" name="workerChosen" >
        <option value="{{complain.workerName}}">{{complain.workerName}}</option>
                {% for worker in workers %}
                {% if worker.workerField == complain.complainFor %}
        <option value="{{worker.workerName}}">{{worker.workerName}}</option>
                {% endif %}
                {% endfor %}
                <option value="To be handled by warden">To be handled by warden</option>

      </select>

      <td>
          <input  name="status" value="{{complain.status}}"/>
      </td>
      <td><button style="background-color:#4CAF50;border:none;color:white; "  type="submit">Update</button></td>
    </tr>
  </form>
  {% endfor %}
  </tbody>
</table>

</div>
{% endblock body %}