{% extends 'supervisorbase.html' %}
{% block title %}VITB Supervisor Portal{% endblock title %}
{% block body %}

  <h1 class="my-4 text-center"> All complaints are displayed below. </h1>
<div style="width: 900px; margin-left: 15%;">
    {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
  {{ message }}
 </div>
              {% endfor %}
    {% endif %}
    <table class="table table-dark my-5  ">
  <thead>
    <tr>
      <th scope="col">Complain Id</th>
        <th  scope="col">Hostel Details</th>
      <th scope="col">Complain For</th>
      <th scope="col">Subject</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for complain in complains %}
  <form method="POST" action="updateComplain" >
                      {% csrf_token %}
    <tr>
      <th>
          <select name = "complainId"> <option hidden="hidden" value="{{complain.id}}">{{complain.id}}</option></select>
      </th>
      <th >{{complain.roomDetails}}</th>
      <th >{{complain.complainFor}}</th>
      <td>{{complain.sub}}</td>
      <td>{{complain.desc}}</td>
      <td><select name="status">
        <option style="background-color:#008CBA; color:white; border:none; font-family: gilroy; " value="Default" >{{complain.status}}</option>
        <option style="border:none;font-family: gilroy;" value='Pending'>Pending</option>
        <option style="border:none;font-family: gilroy;" value='Seen'>Seen</option>
        <option style="border:none;font-family: gilroy;" value='Resolved'>Resolved</option>
     </select>
        <button style="background-color:#4CAF50;border:none;color:white; "  type="submit">Change</button>
      </td></td>
    </tr>
  </form>
  {% endfor %}
  </tbody>
</table>

</div>
{% endblock body %}